<section class="w-[45.625rem] mobile:w-[20.4375rem] flex flex-col gap-y-6" >
  <div class="flex gap-4 items-center cursor-pointer" routerLink="">
    <img class="h-[.5rem] w-[.25rem]" src="../../../../assets/images/icon-arrow-left.svg" alt="">
    <p>Go back</p>
  </div>

  <div class="rounded-[.5rem] px-8  h-[5.5rem] flex items-center justify-between" [class]="themeMode ?'bg-mirage':'bg-[#fff]'">
    <div class="flex gap-4 items-center mobile:justify-between w-full">
      <p [class]="themeMode ? 'text-selago':'text-shipcove'">Status</p>
      <div class="*:rounded-[.5rem] *:w-[6.5rem] *:h-[2.5rem] flex self-end">
        @if(selectedInvoice$ | async; as invoice){
          @if(invoice.status === 'paid'){
            <div class="bg-shamrock bg-opacity-[5.71%] text-shamrock flex justify-center items-center">
              <div class="flex items-center gap-2 py-3">
                <div class="w-[0.5rem] h-[0.5rem] rounded-full bg-shamrock"></div>
                {{ invoice.status | titlecase }}
              </div>
            </div>
          } @else if (invoice.status ===  'pending') {
            <div class="bg-pizazz bg-opacity-[5.71%] text-pizazz flex justify-center items-center">
              <div class="flex items-center gap-2 py-3">
                <div class="w-[0.5rem] h-[0.5rem] rounded-full bg-pizazz"></div>
                {{ invoice.status | titlecase }}
              </div>
            </div>
          } @else {
            <div class="bg-selago bg-opacity-[5.71%] text-selago flex justify-center items-center">
              <div class="flex items-center gap-2 py-3">
                <div class="w-[0.5rem] h-[0.5rem] rounded-full bg-selago"></div>
                {{ invoice.status | titlecase }}
              </div>
            </div>
          }
        }
      </div>
    </div>
    <div class="flex gap-2 mobile:hidden">
      <button (click)="openCreateModal()"    class="hover:bg-selagolight text-shipcove w-[6rem] rounded-[1.5rem] h-12 font-bold " title="Edit invoice"
        [ngClass]="{'bg-ebonyclay ': themeMode, 'bg-selago ': !themeMode}"
      >
        Edit
      </button>
      <app-form-button [buttonEvent]="openDeleteModal.bind(this)" [buttonClass]="'bg-burntsienna w-[89px] text-[#fff] hover:bg-[#FF9797]'" [buttonName]="'Delete'" [buttonTitle]="'Delete invoice'"/>
      <app-form-button [buttonClass]="'bg-cornflowerblue w-[131px] text-[#fff] hover:bg-[#9277FF]'" [buttonName]="'Mark as Paid'" [buttonTitle]="'Mark invoice as paid'"/>
    </div>
  </div>
</section>



