<button (click)="toggleCreateModal()" type="button" class="bg-cornflowerblue rounded-[2rem] h-[3rem] w-[9.125rem] mobile:w-[5.625rem] mobile:h-[2.75rem] flex items-center gap-3 py-2 pl-2 pr-[.9375rem] hover:bg-heliotrope" >
  <div class="bg-[#fff] rounded-full size-[2rem] flex items-center justify-center">
    <img src="../../../assets/images/icon-plus.svg" class="size-[.625rem]" alt="">
  </div>
  <p class="text-[#fff] font-bold text-[.75rem]">New <span class="mobile:hidden">Invoice</span></p>
</button>
