<section class="flex flex-col gap-y-12 mobile:gap-y-6 bg-[#fff] w-[43rem] mobile:w-full h-full pt-[3.5rem] mobile:pt-[6rem] mobile:px-6 pb-8 pl-[9.9375rem] pr-[3rem] rounded-tr-[1.25rem] rounded-br-[1.25rem]" [class]="themeMode ? 'bg-miragedeep':'bg-[#fff]'">

  <div class="text-[.75rem] tablet:hidden pc:hidden flex gap-3 items-center" >
    <img class="h-[.5rem] w-[.25rem]"  src="../../../assets/images/icon-arrow-left.svg" alt="">
    Go Back
  </div>

  @if(editMode){
    <h1>Invoice id</h1>
  } @else {
    <h1 class="font-bold text-[1.5rem]">
      New Invoice
    </h1>
  }

  <form [formGroup]="invoiceForm" id="invoice-form" class="flex flex-col gap-y-12 scrollable pr-2 text-[.75rem]" [class]="themeMode ? 'scrollthumb-dark':'scrollthumb-light'">
    <div formGroupName="billForm"  id="bill-from-div" class="flex flex-col gap-y-3">
      <h4 class="text-cornflowerblue font-bold">Bill From</h4>
      <div class="flex flex-col gap-y-6">
        <div class="flex flex-col gap-y-1">
          <label for="street-addr" class="font-medium text-[.75rem] text-shipcove" [class]="themeMode ? 'text-selago':''">Street Address</label>
          <input formControlName="streetAddress" type="text" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 px-5 border  h-12 rounded-[.25rem]"  [ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }" placeholder="Street Address">
        </div>
        <div class="grid grid-cols-3 gap-4 ">
          <div class="flex flex-col">
            <label for="city" class="text-shipcove" [class]="themeMode ? 'text-selago':''">City</label>
            <input formControlName="city"  type="text" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 pl-5 border  h-12 rounded-[.25rem]"  [ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }" placeholder="City">
          </div>
          <div class="flex flex-col">
            <label for="post-code" class="text-shipcove" [class]="themeMode ? 'text-selago':''">Post Code</label>
            <input formControlName="postCode" type="text" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 pl-5 border  h-12 rounded-[.25rem]"  [ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }" placeholder="Post code">
          </div>
          <div class="flex flex-col">
            <label for="country" class="text-shipcove" [class]="themeMode ? 'text-selago':''">Country</label>
            <input formControlName="country"  type="text" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 pl-5 border  h-12 rounded-[.25rem]"  [ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }" placeholder="Country">
          </div>
        </div>
      </div>
    </div>

    <div formGroupName="billTo" id="bill-to-div" class="flex flex-col gap-y-4">
      <h4 class="text-cornflowerblue font-bold">Bill To</h4>
      <div class="flex flex-col gap-y-1">
        <label for="client's-name" class="font-medium text-[.75rem] text-shipcove" [class]="themeMode ? 'text-selago':''">Client's Name</label>
        <input formControlName="clientName" type="text" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 pl-5 border h-12 rounded-[.25rem]"  [ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }" placeholder="Client's name">
      </div>
      <div class="flex flex-col gap-y-1">
        <label for="client-email" class="font-medium text-[.75rem] text-shipcove" [class]="themeMode ? 'text-selago':''">Client's Email</label>
        <input formControlName="clientEmail"  type="email" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 pl-5 border h-12 rounded-[.25rem]"  [ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }" placeholder="e.g. email@example.com">
      </div>
      <div class="flex flex-col gap-y-1">
        <label for="street-addr" class="font-medium text-[.75rem] text-shipcove" [class]="themeMode ? 'text-selago':''">Street Address</label>
        <input formControlName="streetAddress"  type="text" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 pl-5 border h-12 rounded-[.25rem]"  [ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }" placeholder="Street Address">
      </div>
      <div class="grid grid-cols-3 gap-4">
        <div class="flex flex-col">
          <label for="city" class="text-shipcove" [class]="themeMode ? 'text-selago':''">City</label>
          <input formControlName="city" type="text" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 pl-5 border  h-12 rounded-[.25rem] "  [ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }" placeholder="City">
        </div>
        <div class="flex flex-col">
          <label for="post-code" class="text-shipcove" [class]="themeMode ? 'text-selago':''">Post Code</label>
          <input formControlName="postCode"  type="text" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 pl-5 border  h-12 rounded-[.25rem]" [ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }"   placeholder="Post code">
        </div>
        <div class="flex flex-col">
          <label for="country" class="text-shipcove" [class]="themeMode ? 'text-selago':''">Country</label>
          <input formControlName="country"  type="text" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 pl-5 border h-12 rounded-[.25rem]"[ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }"  placeholder="Country">
        </div>
      </div>
    </div>

    <div id="payment-info" class="flex flex-col gap-y-3">
      <div class="grid grid-cols-2 gap-6">
        <div class="flex flex-col">
          <label for="invoice-date" class="text-shipcove" [class]="themeMode ? 'text-selago':''">Invoice Date</label>
          <input formControlName="invoiceDate" type="date" class="focus:outline-none hover:border-cornflowerblue cursor-pointer font-bold py-4 pl-5 pr-4 border h-12 rounded-[.25rem]" [class]="themeMode ? 'bg-mirage  border-ebonyclay':''" placeholder="">
        </div>
        <div id="terms-container" class="flex flex-col">
          <label for="payment-terms" class="text-shipcove" [class]="themeMode ? 'text-selago':''">
            Payment Terms
          </label>
          <div (click)="showTermsOption()"  class="hover:border-cornflowerblue cursor-pointer font-bold py-4 pl-5 border  h-12 rounded-[.25rem] flex justify-between items-center pr-2" [class]="themeMode ? 'bg-mirage  border-ebonyclay':''">
            {{ paymentTerm }}
            <img [src]="showTerms ? '../../../assets/images/icon-arrow-up.svg':'../../../assets/images/icon-arrow-down.svg'" alt="">
          </div>
          <div
            [ngClass]="{'bg-[#fff]': !themeMode, 'bg-ebonyclay text-white': themeMode, 'flex': showTerms, 'hidden': !showTerms}"
            id="terms-options"
            class="drop-shadow-normal flex-col absolute top-[18.5rem] w-[13.75rem] cursor-pointer font-bold py-2 rounded-[.25rem] *:py-2"
          >
            <option (click)="selectTerms('Net 1 Day')" class="hover:text-cornflowerblue cursor-pointer border-selago border-b pl-5 flex justify-start items-center" [class]="themeMode ? 'border-miragedeep text-selago':''">
              Net 1 Day
            </option>
            <option (click)="selectTerms('Net 7 Days')" class="hover:text-cornflowerblue cursor-pointer border-selago border-b pl-5 flex justify-start items-center" [class]="themeMode ? 'border-miragedeep text-selago':''">
              Net 7 Days
            </option>
            <option (click)="selectTerms('Net 14 Days')" class="border-selago border-b pl-5 hover:text-cornflowerblue cursor-pointer flex justify-start items-center" [class]="themeMode ? 'border-miragedeep text-selago':''">
              Net 14 Days
            </option>
            <option (click)="selectTerms('Net 30 Days')" class="hover:text-cornflowerblue cursor-pointer pl-5 flex justify-start items-center" [class]="themeMode ? 'border-miragedeep text-selago':''">
              Net 30 Days
            </option>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-y-1">
        <label for="project-desc" class="font-medium text-[.75rem] text-shipcove" [class]="themeMode ? 'text-selago':''">Project Description</label>
        <input type="text" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 pl-5 border h-12 rounded-[.25rem]"  [ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }" placeholder="e.g. Graphic Design Service">
      </div>
    </div>

    <div id="item-list-info" class="flex flex-col gap-y-4 text-shipcove">
      <h4 class="font-bold text-[1.125rem] text-waterloo">Item List</h4>
      <div class="flex gap-1 text-shipcove" [class]="themeMode ? 'text-selago':''">
        <p class="w-[10rem]">Item Name</p>
        <p class="w-[2.875rem]">Qty.</p>
        <p class="w-[6.25rem]">Price</p>
        <p class="w-[2.8125rem]">Total</p>
      </div>
      <div formArrayName="items"  class="flex flex-col gap-y-[1.125rem]">
        @for( item of invoiceFormList.controls ; track i; let i = $index ){
          <div  class="flex gap-[2rem] items-center">
            <div [formGroupName]="i"  class="flex gap-2 items-center">
              <input formControlName="name"  type="text"  class="focus:outline-none w-[9rem] font-bold py-4 pl-5 pr-4 border border-selago h-12 rounded-[.25rem]"  [class]="themeMode ? 'bg-mirage text-[#fff]  border-ebonyclay':''" placeholder="Item Name">
              <input formControlName="qty"   type="text"  class="focus:outline-none w-[2.875rem] font-bold py-4 pl-5 pr-4 border border-selago h-12 rounded-[.25rem]"  [class]="themeMode ? 'bg-mirage  text-[#fff] border-ebonyclay':''" placeholder="Qty.">
              <input formControlName="price"   type="text"  class="focus:outline-none w-[6.25rem] font-bold py-4 pl-5 pr-4 border border-selago h-12 rounded-[.25rem]"  [class]="themeMode ? 'bg-mirage text-[#fff]  border-ebonyclay':''" placeholder="Price">
              <input type="text" formControlName="total" [value]="calculateItemTotal(item)" placeholder="Total" [disabled]="true" [class]="themeMode ? 'bg-mirage  border-ebonyclay':''"   class="w-[5rem] focus:outline-none  font-bold py-4 pl-5  h-12 rounded-[.25rem]" [ngClass]="{ 'text-selago': themeMode, 'text-balihai':!themeMode }">
            </div>
            <button (click)="removeListItem(i)" type="button">
              <img src="../../../assets/images/icon-delete.svg" class="w-[.7775rem] h-4" alt="">
            </button>
          </div>
        }
      </div>
      <button  [class]="themeMode ? 'bg-ebonyclay':'bg-selagolight'"  (click)="addListItem()" type="button" class="hover:border-cornflowerblue rounded-[1.5rem] h-12 font-bold">
        + Add New Item
      </button>
    </div>
  </form>
  <div class=" flex justify-between">
    <app-form-button [buttonTitle]="'Discard invoice'" [buttonClass]="'bg-selagolight text-shipcove w-[6rem]'" [buttonName]="'Discard'" [buttonEvent]="discardTerms.bind(this)"/>
    <div class="flex gap-2">
      <app-form-button  [buttonTitle]="'Save invoice as Draft'"  [buttonClass]="'bg-oxfordblue text-balihai w-[8.3125rem]'" [buttonName]="'Save as Draft'" [buttonEvent]="saveDraft.bind(this)"/>
      <app-form-button [buttonTitle]="'Save invoice and Send'" [buttonClass]="'bg-cornflowerblue text-[#fff] w-[8rem]'" [buttonName]="'Save & Send'" [buttonEvent]="saveSend.bind(this)"/>
    </div>
  </div>
</section>
