<section class="flex flex-col gap-y-12 bg-[#fff] w-[43rem] h-full pt-[3.5rem] pb-8 pl-[9.9375rem] pr-[3rem] rounded-tr-[1.25rem] rounded-br-[1.25rem]" [class]="themeMode ? 'bg-miragedeep':'bg-[#fff]'">
  @if(editMode){
    <h1>Invoice id</h1>
  } @else {
    <h1 class="font-bold text-[1.5rem]">
      New Invoice
    </h1>
  }

  <div id="invoice-form" class="flex flex-col gap-y-12 scrollable pr-2 text-[.75rem]">
    <div id="bill-from-div" class="flex flex-col gap-y-3">
      <h4 class="text-cornflowerblue font-bold">Bill From</h4>
      <div class="flex flex-col gap-y-6">
        <div class="flex flex-col gap-y-1">
          <label for="street-addr" class="font-medium text-[.75rem] text-shipcove" [class]="themeMode ? 'text-selago':''">Street Address</label>
          <input type="text" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 px-5 border  h-12 rounded-[.25rem]"  [ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }" placeholder="Street Address">
        </div>
        <div class="grid grid-cols-3 gap-4 ">
          <div class="flex flex-col">
            <label for="city" class="text-shipcove" [class]="themeMode ? 'text-selago':''">City</label>
            <input type="text" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 pl-5 border  h-12 rounded-[.25rem]"  [ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }" placeholder="City">
          </div>
          <div class="flex flex-col">
            <label for="post-code" class="text-shipcove" [class]="themeMode ? 'text-selago':''">Post Code</label>
            <input type="text" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 pl-5 border  h-12 rounded-[.25rem]"  [ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }" placeholder="Post code">
          </div>
          <div class="flex flex-col">
            <label for="country" class="text-shipcove" [class]="themeMode ? 'text-selago':''">Country</label>
            <input type="text" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 pl-5 border  h-12 rounded-[.25rem]"  [ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }" placeholder="Country">
          </div>
        </div>
      </div>
    </div>

    <div id="bill-to-div" class="flex flex-col gap-y-4">
      <h4 class="text-cornflowerblue font-bold">Bill To</h4>
      <div class="flex flex-col gap-y-1">
        <label for="client's-name" class="font-medium text-[.75rem] text-shipcove" [class]="themeMode ? 'text-selago':''">Client's Name</label>
        <input type="text" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 pl-5 border h-12 rounded-[.25rem]"  [ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }" placeholder="Client's name">
      </div>
      <div class="flex flex-col gap-y-1">
        <label for="client-email" class="font-medium text-[.75rem] text-shipcove" [class]="themeMode ? 'text-selago':''">Client's Email</label>
        <input type="email" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 pl-5 border h-12 rounded-[.25rem]"  [ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }" placeholder="e.g. email@example.com">
      </div>
      <div class="flex flex-col gap-y-1">
        <label for="street-addr" class="font-medium text-[.75rem] text-shipcove" [class]="themeMode ? 'text-selago':''">Street Address</label>
        <input type="text" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 pl-5 border h-12 rounded-[.25rem]"  [ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }" placeholder="Street Address">
      </div>
      <div class="grid grid-cols-3 gap-4">
        <div class="flex flex-col">
          <label for="city" class="text-shipcove" [class]="themeMode ? 'text-selago':''">City</label>
        <input type="text" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 pl-5 border  h-12 rounded-[.25rem] "  [ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }" placeholder="City">
        </div>
        <div class="flex flex-col">
          <label for="post-code" class="text-shipcove" [class]="themeMode ? 'text-selago':''">Post Code</label>
          <input type="text" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 pl-5 border  h-12 rounded-[.25rem]" [ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }"   placeholder="Post code">
        </div>
        <div class="flex flex-col">
          <label for="country" class="text-shipcove" [class]="themeMode ? 'text-selago':''">Country</label>
          <input type="text" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 pl-5 border h-12 rounded-[.25rem]"[ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }"  placeholder="Country">
        </div>
      </div>
    </div>

    <div id="payment-info" class="flex flex-col gap-y-3">
      <div class="grid grid-cols-2 gap-6">
        <div class="flex flex-col">
          <label for="invoice-date" class="text-shipcove" [class]="themeMode ? 'text-selago':''">Invoice Date</label>
          <input type="date" class="focus:outline-none hover:border-cornflowerblue cursor-pointer font-bold py-4 pl-5 pr-4 border h-12 rounded-[.25rem]" [class]="themeMode ? 'bg-mirage  border-ebonyclay':''" placeholder="">
        </div>
        <div id="terms-container" class="flex flex-col">
          <label for="payment-terms" class="text-shipcove" [class]="themeMode ? 'text-selago':''">
            Payment Terms
          </label>
          <div (click)="showTermsOption()"  class="hover:border-cornflowerblue cursor-pointer font-bold py-4 pl-5 border  h-12 rounded-[.25rem] flex justify-between items-center pr-2" [class]="themeMode ? 'bg-mirage  border-ebonyclay':''">
            {{ paymentTerm }}
            <img [src]="showTerms ? '../../../assets/images/icon-arrow-up.svg':'../../../assets/images/icon-arrow-down.svg'" alt="">
          </div>
          <div
            [ngClass]="{'bg-[#fff]': !themeMode, 'bg-ebonyclay text-white': themeMode, 'flex': showTerms, 'hidden': !showTerms}"
            id="terms-options"
            class="drop-shadow-normal flex-col absolute top-[18.5rem] w-[13.75rem] cursor-pointer font-bold py-2 rounded-[.25rem] *:py-2"
          >
            <div (click)="selectTerms('Net 1 Day')" class="hover:text-cornflowerblue cursor-pointer border-selago border-b pl-5 flex justify-start items-center" [class]="themeMode ? 'border-miragedeep text-selago':''">
              Net 1 Day
            </div>
            <div (click)="selectTerms('Net 7 Days')" class="hover:text-cornflowerblue cursor-pointer border-selago border-b pl-5 flex justify-start items-center" [class]="themeMode ? 'border-miragedeep text-selago':''">
              Net 7 Days
            </div>
            <div (click)="selectTerms('Net 14 Days')" class="border-selago border-b pl-5 hover:text-cornflowerblue cursor-pointer flex justify-start items-center" [class]="themeMode ? 'border-miragedeep text-selago':''">
              Net 14 Days
            </div>
            <div (click)="selectTerms('Net 30 Days')" class="hover:text-cornflowerblue cursor-pointer pl-5 flex justify-start items-center" [class]="themeMode ? 'border-miragedeep text-selago':''">
              Net 30 Days
            </div>
          </div>

        </div>
      </div>
      <div class="flex flex-col gap-y-1">
        <label for="project-desc" class="font-medium text-[.75rem] text-shipcove" [class]="themeMode ? 'text-selago':''">Project Description</label>
        <input type="text" class="focus:outline-none hover:border-cornflowerblue font-bold py-4 pl-5 border h-12 rounded-[.25rem]"  [ngClass]="{ 'bg-mirage border-ebonyclay' : themeMode , 'border-selagolight': !themeMode }" placeholder="e.g. Graphic Design Service">
      </div>
    </div>

    <div id="item-list-info" class="flex flex-col gap-y-4 text-shipcove">
      <h4 class="font-bold text-[1.125rem] text-waterloo">Item List</h4>
      <div class="flex gap-1 text-shipcove" [class]="themeMode ? 'text-selago':''">
        <p class="w-[10rem]">Item Name</p>
        <p class="w-[2.875rem]">Qty.</p>
        <p class="w-[6.25rem]">Price</p>
        <p class="w-[2.8125rem]">Total</p>
      </div>
      <div class="flex flex-col gap-y-[1.125rem]">
        @for( item of itemList; track item.name; let i = $index ){
          <div class="flex gap-[2rem] items-center">
            <div class="flex gap-2 items-center">
              <input [(ngModel)]="item.name" class="w-[9rem] font-bold py-4 pl-5 pr-4 border border-selago h-12 rounded-[.25rem]"  [class]="themeMode ? 'bg-mirage  border-ebonyclay':''" placeholder="Item Name">
              <input type="text" [(ngModel)]="item.qty" class="w-[2.875rem] font-bold py-4 pl-5 pr-4 border border-selago h-12 rounded-[.25rem]"  [class]="themeMode ? 'bg-mirage  border-ebonyclay':''" placeholder="Qty.">
              <input type="text" [(ngModel)]="item.price" class="w-[6.25rem] font-bold py-4 pl-5 pr-4 border border-selago h-12 rounded-[.25rem]"  [class]="themeMode ? 'bg-mirage  border-ebonyclay':''" placeholder="Price">
              <p class="w-[2.8125rem]">$0.00</p>
            </div>
            <button (click)="removeListItem(i)" type="button">
              <img src="../../../assets/images/icon-delete.svg" class="w-[.7775rem] h-4" alt="">
            </button>
          </div>
        }
      </div>
      <button  [class]="themeMode ? 'bg-ebonyclay':'bg-selagolight'"  (click)="addListItem()" type="button" class="hover:border-cornflowerblue rounded-[1.5rem] h-12 font-bold">
        + Add New Item
      </button>
    </div>
  </div>
  <div class=" flex justify-between">
    <app-form-button [buttonClass]="'bg-selagolight text-shipcove w-[6rem]'" [buttonName]="'Discard'" [buttonEvent]="discardTerms.bind(this)"/>
    <div class="flex gap-2">
      <app-form-button [buttonClass]="'bg-oxfordblue text-balihai w-[8.3125rem]'" [buttonName]="'Save as Draft'"/>
      <app-form-button [buttonClass]="'bg-cornflowerblue text-[#fff] w-[8rem]'" [buttonName]="'Save & Send'"/>
    </div>
  </div>
</section>
