<section class="bg-oxfordblue pc:w-[6.4375rem] pc:h-full h-[5rem] pc:rounded-tr-[1.25rem] pc:rounded-br-[1.25rem] flex pc:flex-col justify-between pc:pb-6 z-20 fixed w-full pr-6">
  <div class="pc:size-[6.4375rem] h-full w-[5.5rem] bg-cornflowerblue rounded-tr-[1.25rem] rounded-br-[1.25rem] flex flex-col">
    <div id="logo"  class="absolute pc:top-[2.125rem] top-[1.5rem] z-[7] pc:left-8 left-7">
      <img src="../../../assets/images/logo.svg" class="w-[2.5rem] h-[2.3569rem]" alt="">
    </div>
    <div class="bg-heliotrope pc:w-[6.4375rem] pc:h-[51.5px] h-[2.5rem] w-full rounded-tl-[1.25rem] rounded-br-[1.25rem] relative pc:top-[3.215rem]  top-[2.5rem]" ></div>
  </div>

  <div class="w-[6.4375rem] flex pc:flex-col items-center justify-between pc:h-[7.3125rem] tablet:w-[7.3125rem] mobile:w-[6.25rem] flex-row">
    <app-theme-switch/>
    <div id="line"  class=" bg-fiord h-[.06225rem] tablet:hidden mobile:hidden"></div>
    <div id="line-tab"  class=" bg-fiord w-[.06225rem] h-full  pc:hidden"></div>
    <img class="size-[2.5rem] rounded-full" src="../../../assets/images/image-avatar.jpg" alt="">
  </div>
</section>
