<section class="bg-oxfordblue w-[6.4375rem] h-full tablet:h-[5rem] pc:rounded-tr-[1.25rem] pc:rounded-br-[1.25rem] flex flex-col justify-between pc:pb-6 z-20 fixed tablet:w-full tablet:flex-row tablet:justify-between tablet:pr-6">
  <div class="pc:size-[6.4375rem] tablet:h-full tablet:w-[5.5rem] bg-cornflowerblue rounded-tr-[1.25rem] rounded-br-[1.25rem] flex flex-col">
    <div id="logo"  class="absolute pc:top-[2.125rem] tablet:top-[1.5rem] z-[7] pc:left-8 tablet:left-7">
      <img src="../../../assets/images/logo.svg" class="w-[2.5rem] h-[2.3569rem]" alt="">
    </div>
    <div class="bg-heliotrope w-[6.4375rem] h-[51.5px] tablet:h-[2.5rem] tablet:w-full rounded-tl-[1.25rem] rounded-br-[1.25rem] relative pc:top-[3.215rem]  tablet:top-[2.5rem]" ></div>
  </div>

  <div class="flex flex-col items-center justify-between pc:h-[7.3125rem] tablet:w-[7.3125rem] tablet:flex-row ">
    <app-theme-switch/>
    <div id="line"  class=" bg-fiord pc:h-[.06225rem] pc:w-full tablet:hidden"></div>
    <div id="line-tab"  class=" bg-fiord w-[.06225rem] h-full  pc:hidden"></div>
    <img class="size-[2.5rem] rounded-full" src="../../../assets/images/image-avatar.jpg" alt="">
  </div>
</section>
