<section class="bg-oxfordblue w-[6.4375rem] h-full rounded-tr-[1.25rem] rounded-br-[1.25rem] flex flex-col justify-between pb-6 z-10 fixed">
  <div class="size-[6.4375rem] bg-cornflowerblue rounded-tr-[1.25rem] rounded-br-[1.25rem] flex flex-col">
    <div id="logo"  class="absolute top-[2.125rem] z-[7] left-8">
      <img src="../../../assets/images/logo.svg" class="w-[2.5rem] h-[2.3569rem]" alt="">
    </div>
    <div class="bg-heliotrope w-[6.4375rem] h-[51.5px] rounded-tl-[1.25rem] rounded-br-[1.25rem] relative top-[3.215rem]"></div>
  </div>

  <div class="flex flex-col items-center justify-between h-[7.3125rem]">
    <app-theme-switch/>
    <div id="line"  class=" bg-fiord h-[.06225rem] w-full"></div>
    <img class="size-[2.5rem] rounded-full" src="../../../assets/images/image-avatar.jpg" alt="">
  </div>
</section>
