/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


html,body{
  margin: 0;
  padding: 0;
}


.scrollable{
  overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
  scrollbar-gutter: stable both-edges;
  width: 10px;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent ;
}

.scrollthumb-dark::-webkit-scrollbar-thumb {
  background: #252945;
  border-radius: 10px;
  background-clip: content-box;
}

.scrollthumb-light::-webkit-scrollbar-thumb {
  background: #DFE3FA;
  border-radius: 10px;
  background-clip: content-box;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #373B53;
}


.drop-shadow-purple {
  box-shadow: -2px 8px 20px 5px rgba(164, 69, 237, 0.125);
}

.drop-shadow-normal {
  box-shadow: -2px 8px 20px 5px rgba(0, 0, 0, 0.125);
}

/* class="drop-shadow-normal flex-col absolute top-[18.5rem] w-[13rem] cursor-pointer font-bold py-2 border border-selago rounded-[.25rem]" */

#terms-options{
  font-weight: 700;
}
